@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 375px;
  height: 600px;
  /* For some reason, the max height is defined as 600px, so I set 600 instead of 654px of Figma design */
  /* height: 654px; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

#app-container {
  width: 100%;
  height: 100%;
}